#conteneur{
	width:1000px;
	border:2px grey solid;
	height:5000px;
	margin:0 auto;
	font-family:Times New Roman;
}
.logo{
	float:left;
	margin-left:15px;
	margin-top:15px;
}

.boutique{
	float:left;
	margin-left:35px;
	width:30%;
}
	.boutique1{
		font-size:42px;
		font-weight:bold;
		font-style:italic;
		margin:10px 0px 0px 0px;
		padding:0px;
	}

	.slogan{
		font-size:14px;
		color:#FF00FF;
		margin-top:4px;
		}

.aide{
	float:left;
	width:30%;
	color:#00FFFF;
	
}
	.besoinaide{
		font-size:30px;
		margin:10px 0px 0px 0px;
	}

	.tel{
		color:#3fc9fa;
		background: url('../img/aide.png') no-repeat;
		padding-left:37px;
		
	}
	.horaire{
		color:grey;
		margin-top:2px;
	}


.pannier{
	background:#3fc9fa;/* bleu clair*/
	font-size:15px;
	float:right;
	width:30%;
}

.moncompte{
	text-align:center;
	border-bottom:1px white solid;
	font-size:20px;
	color:white;
	padding:0px 0px 5px 0px;
	margin-top:0px;
	margin-bottom:2px;
}


.achat{
	float:left;
}
	.article{
		color:white;
		padding-bottom:35px;
		vertical-align:middle;
		
	}
header{
	width:100%;
}


nav{
	background:#00FFFF;
}

.accueil{
	background:purple;
}
nav a{
	padding:0px;
	font-size:20px;
	color:grey;
	width:164px;
	display:block;
	float:left;
	border:0px solid;
	text-align:center;
	text-decoration: none;
}

nav a:hover{
	background:#f583e3;
	
}
.b{
	
	
}
.paiement{
	float:left;
	width:200px;
	padding-left:15px;
}
.titrebleu{
	
	color:#00FFFF;
	font-weight:bold;
	font-size:20px;
}
.nous{
	float:left;
	width:550px;
	padding-left:15px;
	border-left:1px solid;
}
.services{
	border-left:1px solid;
	float:right;
	width:200px;
	padding-left:15px;
}


.clear{
	clear:both;
}




/*******************Début de la bibliothèque***********************************************************/

#police{

font-family:Times New Roman; /* police de caractères georgia */

/*font-size:small; font-size définit la taille du texte*/
/*font-size:75%;*/
/*font weight: bold  :font-weight définit l'épaisseur des caractères (normal bold (gras) xxx (une valeur entre 100 et 900) bolder (caractère plus gras que ceux de l'élément parent) lighter (moins gras que parent) inherit (identique à ceux de l'élément parent) */
font-size:normal;
color:black;  /* font-color n'existe pas, on dit simplement "color:"*/

font-style: normal; /*(italic oblique)*/
/*font-weight:bold;*/
/* letter-spacing: 3px : espacement entre les lettres  */
}
.cadre{
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto 15px auto;
    padding: 10px;
    border: 2px solid #eeab69;
 
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

legend{
	color: #eeab69;
	margin-left:150px;
	/* text-align:center; pose un pb avec legend dans firefox*/
}


/******************************************* Margin et padding****************************

marge et padding : haut droite bas et gauche

*/

/******************************************Reset
Reset détaillé A faire dans le css pour casser les valeurs par défauts
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ou reset global
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*/
/***************************************Les Images*******************************************/


.plagecocotier{
	border:3px solid;
	padding:5px;
	margin:0px 0px 50px 150px;
}

.grenadine{
	margin:10px 0 0 400px;
	
}


.catamaran{
	
	
}


.montagne{
	width:900px;
	background-color:rgba(255,255,255,0.3);
}

.imagetransforme{
		margin-top:100px;
		margin-left:200px;
		margin-bottom:300px;
		
}

.ecosse{
	/*margin-left:300px;	*/
	border: 5px solid #eee;
	margin:20px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.8);
	
}

.ecosse:hover{
		margin: 0;
		transform: rotate(-20deg);
		width: 250px;
}


section{
	margin-top:100px;
}

label{
		display:block; /* cela permet d'avoir les éléménts les uns en dessous des autres*/
		width: 150px;
		margin-top:20px;
		margin-bottom:15px;
}





textarea{
	resize:both; /* vertical / horizontal / none /both */
	
}


.radiolabel{
		display:inline;

}
























footer{
	background:#00FFFF;
	margin-left:100px;
	}

footer a{
	color:grey;
	float:left;
	border:0px solid;
	text-align:center;
}
.marron{
	background-color:brown;
	width:300px;
	text-align:center;
	border-radius: 36px 36px 5px 0px;
	-moz-border-radius: 36px 36px 5px 0px;
	-webkit-border-radius: 36px 36px 5px 0px;
	border: 0px solid #000000;
}
	
	
}
.c1, .c2, .c3{
	width:300px;
	margin-left:20px;
	border-radius: 36px 36px 36px 36px;
	-moz-border-radius: 36px 36px 36px 36px;
	-webkit-border-radius: 36px 36px 36px 36px;
	border: 0px solid #000000;
	
}
	
.c1{
	float:left;
}
.c2{
	float:left;
}
.c3{
	float:left;
}


