@font-face { /* utilisation d'une police css3 à l'aide d'une url */
	font-family: "Cabin";
	font-style: normal;
	font-weight: 400;
	src: local("Cabin Regular"), local("Cabin-Regular"), url("https://themes.googleusercontent.com/static/fonts/cabin/v4/JEgmtEDzc-IH8jBshQXrYA.woff") format("woff");
}
@font-face { /* utilisation d'une police css3  à l'aide de fichier */
    font-family: 'folksbold';
    src: url('police/Folks-Bold-webfont.eot');
    src: url('police/Folks-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Folks-Bold-webfont.woff') format('woff'),
         url('police/Folks-Bold-webfont.ttf') format('truetype'),
         url('police/Folks-Bold-webfont.svg#folksbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* **************** STRUCTURE **************************/

body{
	font-family: 'cabin', cursive;
	line-height:150%;
}
*{
box-sizing: border-box;	 /* permet directemetn d'avoir un cadre qui a la bonne taille*/
}
.container{
		width:650px; /*  width:80%*/
	/*	border:1px solid; */
		margin:0 auto; 
		padding: 20px;
}


h1, h2, h3, h4, h5, h6 {font-weight:bold;margin:0}

h1{
	font-size :50px; /* taille de la police*/
	color:dodgerblue; /* Couleur de texte */
	letter-spacing: 3px; /*espacement entre les lettres*/
	text-transform: uppercase; /*casse de la plice  - capitalize / uppercase /lowercase /none */
	text-align: center; /* alignement horizontale */
}
h2{
	font-size :25Px; 
	color: #666;
	text-align: center;
	margin:25px 90px 40px;
	/* soulignement - underline / overline /line-through
	text-decoration: none;*/
	border-bottom: 1px solid #ccc;
		/* la ligneécrite au dessus peut s'écrire en 3 lignes voir en dessous 
		border-width:1px;
		border-style:solid;
		border-color:red; */
	padding-bottom: 15px;
}
h4{
	font-size :18Px; 
	color:orange;
}

h4 span {
	color:#666;
	font-weight: normal; 
	margin-left: 5px;
	}

h4 i{
	margin-right: 5px;
	color:black;
}	

ul{
	padding-left: 30px;
}

ol {
	padding-left: 30px;
}

ul li {
	/* none / circle / square / disc ///ici none retire la numérotation des éléments de la liste */
	list-style-type: none;
}

fieldset legend {
		font-size:18px;
		font-weight:bold;
		color:orange;
		pading: 0 10px;
}
fieldset p {
		font-size: 15 px;
		text-align: justify;
		line-height: 120%;
		font-style:italic; /* ou oblique quand la police ne supporte l'italic*/
}
summary{
		color:red;
		transition: 0.5s;
		width:200px;
}
summary:hover{
	color:orange;
	cursor:pointer;
}

img{
	float:left;
	padding:0 50px 30px 0;
	width:220px;
}

/*********************bloc********************* */















