body{
    background-color: #000;
}

/* Navbar apple*/
.navbar-apple{
    background-color:#1e1e1e;
    border-radius: 0;
    margin-bottom:0;
}
.navbar-apple ul {
    text-align:center;
}

.navbar-apple ul li{
    margin:0 10px;
}

.navbar-apple ul li a{
    font-family:'Roboto Condensed', sans-serif;
}


/* centrer la barre   



 */


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}



/*Section Mobile*/
#mobile{
    background-color: #141414
}

#mobile ul{
padding:10PX 0;
}

#mobile ul li{
padding:0PX 15;
}








/* section projecteur*/
#projecteur{
    text-align: center;
    padding-top:20px;
    color:#fff;
}

#projecteur h2{
    font-size:50px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight:400;
}


#projecteur h3{
    font-size:60px;
    font-family:'Roboto Condensed', sans-serif;
    font-weight:300;

}

#projecteur p{
    color:#ccc;
}

#iPhone7{
    background-image: linear-gradient(#fff 0%, #eee 100%);
    padding-top: 40px;
}

#iPhone7 article{
    text-align: center;

}

#iPhone7 article h3{
     font-size:36px;
     font-family:'Roboto Condensed', sans-serif;
     font-weight:300;
     color:#303236;
     margin:40px 0;
}
#iPhone7 article p{
    margin: 40px 0;
}

/* Section formulaire    */

.email{
    float:left;

}