div{
	width:800px; /*  largeur*/
	margin: 0 auto; /* marges qui centrent la div*/
}
div.img_hover img{
	border: 5px solid #eee;
	width: 300px;
	margin:20px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	transition: transform 0.5s; 
}
div.img_hover img:hover{
		margin: 0;
		transform: rotate(-7deg);
		width: 250px;
}

div.img_hover img.rotation360:hover{
		transform: rotate(360deg);
}
