#body{
	margin:0;
	padding:0;
}
#haut{
	background:#333;
	
}

.conteneur{
	width:960px;
	margin:0 auto; /*permet de centrer le conteneur */ 
	padding:0;
	/*border:1px solid;*/
	
	font-family:"georgia"
}

header{
	background:#333;
	color:white;
	
}
.webforce{
	float:left;
	margin-bottom:25px;
}

.webforce3{
	font-size:40px;
}

.exemple{
	font-size:15px;
}


.barre{
	float:right;
	margin-top:25px;
	margin-right:10px;
	
}
.element{
	margin-left:15px;
	text-decoration:none;
	color:white;
	
}
#millieu{
	margin-top:25px;
}

#millieub{
	margin-top:50px;
	
}
.bloc{
	width:220px;
	float:left;
}

.bloc2{
	margin-left:40px;
	
}
.bloc3{
	margin-left:40px;
	
}
.bloc4{
	margin-left:40px;
	
}


.annonce{
	margin-top:25px;
	
}

.readmore{
	color:orange;
	float:right;
}

footer{
	background:#333;
	color:white;
	
}

.footergauche{
	float:left;
	width:500px;
}
.footerdroite{
	float:right;
	width:300px;
}








.clear{clear:both;}
